body {
  margin: 0;
  overflow: hidden;
  background: linear-gradient(#020111, #000000);
  font-family: sans-serif;
}

#scene {
  position: relative;
  width: 100vw;
  height: 100vh;
}

/* Fireworks canvas */
#fireworks {
  position: absolute;
  top: 0;
  left: 0;
}