body {
  margin: 0;
  overflow: hidden;
  background: linear-gradient(#020111, #000000);
  font-family: sans-serif;
}

#scene {
  position: relative;
  width: 100vw;
  height: 100vh;
}

/* Fireworks canvas */
#fireworks {
  position: absolute;
  top: 0;
  left: 0;
}

/* City skyline silhouette */
#skyline {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30vh;
  background: url('assets/skyline-silhouette.svg') repeat-x bottom;
  background-size: contain;
  opacity: 0.9;
}

/* Couple silhouette */
#couple {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 200px;
  height: 300px;
  transform: translateX(-50%);
  background: url('assets/couple-silhouette.svg') no-repeat bottom;
  background-size: contain;
  opacity: 0.95;
}

/* Hidden canvas for text particle mapping */
#textCanvas {
  display: none;
}